<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated framework_campeonato -->
      <package
            uri="http:///framework_campeonato.ecore"
            class="framework_campeonato.Framework_campeonatoPackage"
            genModel="model/framework_campeonato.genmodel"/>
   </extension>

</plugin>
